html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background: #efefef;
  min-height: 100vh;
}

nav {
  align-items: center;
  font-weight: bold;
  max-width: 1200px;
  margin: 0 auto;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
  padding: 10px;
}

nav a.router-link-exact-active {
  color: #42b983;
}

header {
  background-color: #364552;
  color: white;
  text-align: center;
}

footer {
  background-color: #364552;
  padding: 1rem;
  color: white;
}

footer p {
  margin: 0;
}

footer a {
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
  padding: 3px;
  font-weight: bold;
}

footer a:hover {
  color: cornflowerblue;
}

h1 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  display: inline-block;
}

form {
  background: white;
  text-align: left;
  padding: 40px;
  border-radius: 10px;
}

label {
  color: #aaa;
  display: inline-block;
  margin: 25px 0 15px;
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

input {
  display: block;
  color: #555;
  padding: 10px 6px;
  width: 50%;
  border: none;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

main {
  margin: 0 auto 0 auto;
  max-width: 1200px;
  padding: 10px auto;
}

.error {
  color: #ff0062;
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: bold;
}

.cards {
  display: grid;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-gap: 1.5rem;
  margin: 10px auto;
  width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.card {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  background-color: #ffffff;
}

.card:hover {
  transform: scale(1.05);
  border: .1px solid #b217b4;
}

.card .header {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
  width: 85%;
  margin-top: 1rem;
  cursor: pointer;
}

.card .header .title {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  text-align: left;
  font-size: 1.25rem;
  margin-top: .5rem;
  margin-bottom: 0;
}

.card .header .subtitle {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  text-align: left;
  font-size: 0.75rem;
  margin: 0;
}

.card .header .tags {
  text-align: left;
  margin: 5px 0;
}

.card .header .tags .tag {
  font-weight: 500;
  font-size: .8rem;
  --tw-text-opacity: 1;
  color: rgb(55 48 163 / var(--tw-text-opacity));
  border-radius: 9999px;
  margin-right: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(224 231 255 / var(--tw-bg-opacity));
  padding-left: .75rem;
  padding-right: .75rem;
}

.card .body {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
  width: 85%;
  cursor: pointer;
}

.card .body .desc {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  text-align: left;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: .5rem;
}

.card .footer {
  display: flex;
  font-size: small;
  justify-content: space-between;
  width: 85%;
  margin-bottom: .8rem;
}

.card .footer p {
  margin: 0;
}

.card .footer .website {
  flex-grow: 2;
  margin: 0;
}

.card:hover {
  transform: scale(1.05);
  border: .1px solid #b217b4;
}

.navbar {
  padding: 5px 5px;
}

.filter {
  text-align: left;
}

#app {
  text-align: center;
}
